@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.marca-cryptoapp{
     font-family: "Black Han Sans", sans-serif;
}

.img-carousel{
    height: 250px;
    object-fit: cover;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    filter: invert(1);

}

@media(width >= 768px){
    .img-carousel{
        height: 350px;
    }

}

@media(width >= 992px){
    .img-carousel{
        height: 500px;
    }
    
    .img-carousel-celular{
        object-fit: 50% 80%;
    }

}